body {
  background-image: url("https://thumbs.dreamstime.com/b/horizontal-banner-format-medicines-thermometer-pills-top-view-yellow-background-free-space-test-disease-treatment-209385272.jpg");
  margin: 0px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffd105;
}

li.navbar {
  float: left;
}

li.navbar a {
  display: block;
  color: rgb(8, 8, 8);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-family: cursive;
}
li.navbar a:hover {
  text-decoration: underline;
  color: #534a4a;
}

ul.navbar div img.logo {
  margin: 8px;
}

div.right {
  float: right;
}

div.left {
  float: left;
}

p.bannerText {
  font-size: 80px;
  border: 15px;
  text-align: center;
  font-family: Lucida Handwriting;
}

input.search,
input.search:focus {
  width: 96%;
  height: 35px;
  outline: hidden;
}

button.searchItem {
  margin-left: 43%;
  margin-top: 20px;
  font-size: 20px;
  background-color: green;
  color: #fff;
  border: 0px;
  height: 30px;
}

button.searchItem:hover {
  margin-left: 43%;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(36, 175, 36);
  color: #fff;
  border: 0px;
  height: 30px;
}

.invalidInput {
  background-color: rgb(255, 133, 133);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loginForm {
  border: rgb(59, 53, 53) solid 1px;
  width: 40%;
  display: block;
  margin-top: 5%;
  background-color: #fde68a;
}

.loginInput {
  width: 70%;
  padding: 10px;
  margin: 8px;
}

.loginButton {
  display: inline;
  background-color: rgb(202, 107, 39);
  border: 0px;
  color: beige;
  font-size: 17px;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
}
.loginButton:hover {
  background-color: rgb(182, 110, 59);
}

.loginWithGoogle {
  display: inline;
  background-color: rgb(202, 107, 39);
  border: 0px;
  color: beige;
  font-size: 17px;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
}
.loginWithGoogle:hover {
  background-color: rgb(182, 110, 59);
}

.loginWithMicrosoftButton {
  display: inline;
  background-color: rgb(105, 170, 0);
  border: 0px;
  color: beige;
  font-size: 17px;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
}
.loginWithMicrosoftButton:hover {
  background-color: rgb(3, 145, 97);
}

#countryCode {
  width: 12%;
  padding: 10px;
  margin: 8px;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

#mobileNo {
  width: 28%;
  padding: 10px;
  margin: 8px;
  margin: 0px;
}

.signupForm {
  border: rgb(59, 53, 53) solid 1px;
  width: 40%;
  display: block;
  margin-top: 5%;
  background-color: #fde68a;
}

.signupInput {
  width: 40%;
  padding: 10px;
  margin: 8px;
}

.signupButton {
  display: inline;
  background-color: rgb(202, 107, 39);
  border: 0px;
  color: beige;
  font-size: 17px;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
}
.signupButton:hover {
  background-color: rgb(182, 110, 59);
}

.signupWithMicrosoftButton {
  display: inline;
  background-color: rgb(105, 170, 0);
  border: 0px;
  color: beige;
  font-size: 17px;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
  padding: 8px;
}
.signupWithMicrosoftButton:hover {
  background-color: rgb(3, 145, 97);
}

.medicinesList {
  background-color: white;
  height: 75%;
  width: 38%;
  display: block;
  position: fixed;
  padding-left: 30px;
  margin: 50px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 908px) {
  .loginForm {
    border: rgb(59, 53, 53) solid 1px;
    width: 60%;
    display: block;
    margin-top: 5%;
    background-color: #fde68a;
  }
  .signupForm {
    border: rgb(59, 53, 53) solid 1px;
    width: 60%;
    display: block;
    margin-top: 5%;
    background-color: #fde68a;
  }
}/*# sourceMappingURL=style.css.map */